In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('glp1dfa.csv')
df2 = pd.read_csv('glp1dfa_test.csv')

In [4]:
df1.equals(df2)

True

In [6]:
df1.head()

,Serious,Outcomes,Sex,api1,Patient Age,Compounded Flag,sex2,serious2,died,cpdf,age1,age2,age3
0,Non-Serious,Non-Serious,Male,1,80 YR,-,1,0,0,0,80,80,80
1,Non-Serious,Non-Serious,Female,1,80 YR,-,0,0,0,0,80,80,80
2,Non-Serious,Non-Serious,Male,1,85 YR,-,1,0,0,0,85,85,85
3,Serious,Hospitalized,Female,1,71 YR,-,0,1,0,0,71,71,71
4,Non-Serious,Non-Serious,Female,1,63 YR,-,0,0,0,0,63,63,63

In [7]:
df2.head()

,Serious,Outcomes,Sex,api1,Patient Age,Compounded Flag,sex2,serious2,died,cpdf,age1,age2,age3
0,Non-Serious,Non-Serious,Male,1,80 YR,-,1,0,0,0,80,80,80
1,Non-Serious,Non-Serious,Female,1,80 YR,-,0,0,0,0,80,80,80
2,Non-Serious,Non-Serious,Male,1,85 YR,-,1,0,0,0,85,85,85
3,Serious,Hospitalized,Female,1,71 YR,-,0,1,0,0,71,71,71
4,Non-Serious,Non-Serious,Female,1,63 YR,-,0,0,0,0,63,63,63